html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: darken(#3f3f3f, 30%);

  display: flex;
  justify-content: center;

  > * {
    margin: 0;
  }
}

button > * {
  pointer-events: none;
}

footer {
  position: fixed;
  bottom: 0px;
  justify-content: center;
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 5px;
}

#header {
  text-align: center;
}

.gain {
  color: #00cc22;
}
.loss {
  color: #cc0000;
}

.longName {
  text-align: left;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#watchList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.watchListElement {
  background-color: #f7f7f7;
}

#watchListCol {
  float: right;
}

#quoteDisplayCol {
  float: right;
}

.quoteDisplayComponent {
  background-color: #f7f7f7;
  margin-top: 1rem;
  padding-top: 1rem;
  border-radius: 5px;
}

.quoteDisplayKeys {
  text-align: left;
}
.quoteDisplayValues {
  text-align: right;
}
