$primary-color: #ffffff;
$secondary-color: #f7f7f7;
$text-color: #3f3f3f;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: radial-gradient(
    circle,
    lighten($primary-color, 20%) 0%,
    $primary-color 100%
  );
  color: darken($text-color, 30%);

  display: flex;
  // flex-direction: column;
  justify-content: center;

  > * {
    margin: 0;
  }
}

button > * {
  pointer-events: none;
}

#header {
  text-align: center;
}

.gain {
  color: #00cc22;
}
.loss {
  color: #cc0000;
}

.longName {
  text-align: left;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#watchList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.watchListElement {
  background-color: $secondary-color;
}

#quoteDisplayComponent {
  background-color: $secondary-color;
  margin-top: 1rem;
  padding-top: 2rem;
}

.quoteDisplayKeys {
  text-align: left;
}
.quoteDisplayValues {
  text-align: right;
}

#quoteTable {
  font-size: 0.5rem;
}
